.bodyStyle{
    background-image: url("../background.jpg");
    background-size: cover;
    height:100%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
 